*{
  margin: 0;
  padding: 0;
}

/* general class */


/* header-section */

.header-section {
  padding: 16px 40px;
  height: 103px;
  align-items: center;
}

.headerlink {
  font-size: 30px;
  font-weight: 700;
  padding: 5px;
  margin-left: auto;

}

.gray-color-1 {
  background-color: rgb(65, 61, 61);
}
  
.gray-color-2 {
  background-color: rgb(122, 121, 121);
}

.gray-color-3 {
  background-color: rgb(85, 79, 79);
}

  .black-color {
    color: black;
}


.flex {
  display: flex;
}



/* section-one */

.section-one {
  height: 800px;

}