*{
  margin: 0;
  padding: 0;
}

/* general class */

.center {
  margin: 0 auto;
}

/* header-section */

.header-section {
  padding: 16px 40px;
  height: 103px;
  align-items: center;
}

.headerlink {
  font-size: 30px;
  font-weight: 700;
  padding: 5px;
  margin-left: auto;

}

.gray-color-1 {
  background-color: rgb(65, 61, 61);
}
  
.gray-color-2 {
  background-color: rgb(122, 121, 121);
}

.gray-color-3 {
  background-color: rgb(85, 79, 79);
}

  .black-color {
    color: black;
}


.flex {
  display: flex;
}



/* section-one */

.content-section-one {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px 500px;
  background-color: #999;
}

.content-section {
  border: 5px solid white;
}

.bio {
  padding: 80px;
}

.bio-img {
  display:flex;
}

.bio-img h3 {
  margin-top: 30px;
}

.img-section-one {
  width: 81px;
  height: 81px;
  border: 5px solid gray;
  border-radius: 10px;
}

.bio-text {
  font-size: 50px;
  color: rgb(41, 40, 40);
  margin-top: 15px;
  height: 800px;

}

/* section two */

.section-two {
  height: 500px;
  border-bottom: 1px solid red;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  padding: 50px;
  gap: 2em;
}

.text-sec-2 {
  margin-top: 3em;
  color: #bdb2b2;
  font-size: 25px;
}

.button-sec-2 {
  width: 80px;
  height: 80px;
  margin-top: 15px;
  background-color: #808080;
  font-size: 50px;
}

/* section three */

.section-three {
  height: 600px;
  display: grid;
  grid-template-columns: 50% 30%;
}

.img-sec-3 {
  margin-left: 50px;
  background-color: #b9a9a9;
}

.article-sec-3 {
  padding: 20px;
}

.b-sec-3 {
  margin-top: 80px;
}

/* section five */

.section-five {
  height: 600px;
  background-color:  rgb(104, 102, 102);
}

.img-sec-5 {
  width: 400px;
  height: 400px;
  background-image: url(../img/cat-smashing-tv-2.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

